[Unit]
Description=endpoint.hoi.io service
After=config.service

[Service]
User=core
Restart=always
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill endpoint.hoi.io-%i
ExecStartPre=-/usr/bin/docker rm endpoint.hoi.io-%i
ExecStartPre=-/usr/bin/docker pull hoist/endpoint.hoi.io:master
ExecStart=/bin/bash -c "/usr/bin/docker run -h $${COREOS_PRIVATE_IPV4//./-} --name endpoint.hoi.io-%i  -e \"SERVICE_TAGS=http,nodejs,endpoint,production,https-hoi-io\" -e \"SERVICE_NAME=endpoint\" -e \"NODE_ENV=production\" --volumes-from config -P hoist/endpoint.hoi.io:master"
ExecStop=/usr/bin/docker stop endpoint.hoi.io-%i
TimeoutStartSec=30m

[X-Fleet]
Conflicts=endpoint.hoi.io@*.service
MachineMetadata=container_type=web
