[Unit]
Description=endpoint.hoi.io service
After=config.service

[Service]
User=core
Restart=always
ExecStartPre=-/usr/bin/docker kill endpoint-web-%i
ExecStartPre=-/usr/bin/docker rm endpoint-web-%i
ExecStartPre=-/usr/bin/docker pull quay.io/hoist/endpoint:docker
ExecStart=/usr/bin/docker run --name endpoint-web-%i  -e "SERVICE_TAGS=http,nodejs,endpoint,production,https-hoi-io" -e "SERVICE_NAME=endpoint" -e "NODE_ENV=production" --volumes-from config -P quay.io/hoist/endpoint:docker
ExecStop=/usr/bin/docker stop endpoint-web-%i
TimeoutStartSec=30m

[X-Fleet]
Conflicts=endpoint-web@*.service
MachineMetadata=container_type=web
